@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
     Layout = "~/Views/Admin/Layout/admin_Layout.cshtml";
}

<h2>Dashboard</h2>
<p>Hoş geldin, kontrol panelin burası!</p>
@section Scripts {
    <!-- Eğer o an JS kullanmıyorsan bile boş bırak -->
}
